
<div id="detail-container">
    <div>
        <img src="{{movie.image}}" alt="">
    </div>
    <div class="movie-detail">
        <p><a href="/movies">Return</a></p>
        <h1>{{movie.title}}</h1>
        <h2>{{movie.director}}</h2>
        <p>{{movie.stars}}</p>
        <p>{{movie.description}}</p>
        <p>{{movie.showtimes}}<p>
    </div>
    
</div>